<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:be.container pageTitle="{f:translate(key: 'pagetitle')}" includeRequireJsModules="{0:'TYPO3/CMS/Typo3Allinoneaccessibilitymonitor/Main'}">
	<link rel="stylesheet" type="text/css" href="{f:uri.resource(path:'Vendor/bootstrap4.3.1.min.css', extensionName: 'typo3_allinoneaccessibilitymonitor')}" media="all">
	<link rel="stylesheet" type="text/css" href="{f:uri.resource(path:'Css/global.css', extensionName: 'typo3_allinoneaccessibilitymonitor')}" media="all">
	<link rel="stylesheet" type="text/css" href="{f:uri.resource(path:'Css/main.css', extensionName: 'typo3_allinoneaccessibilitymonitor')}" media="all">
	<link rel="stylesheet" type="text/css" href="{f:uri.resource(path:'Css/adawidget.css', extensionName: 'typo3_allinoneaccessibilitymonitor')}" media="all">
	<link rel="javascript" type="text/javascript" href="{f:uri.resource(path:'JavaScript/custom.js', extensionName: 'typo3_allinoneaccessibilitymonitor')}" media="all">


	<div class="typo3-fullDoc">
		<f:render section="content" />
	</div>
</f:be.container>
</html>
