<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">


<link rel="stylesheet" type="text/css" href="{f:uri.resource(path:'Vendor/bootstrap4.3.1.min.css', extensionName: 'allinoneaccessibilitymonitor')}" media="all">
<link rel="stylesheet" type="text/css" href="{f:uri.resource(path:'Css/font-awesome.css', extensionName: 'allinoneaccessibilitymonitor')}" media="all">
<link rel="stylesheet" type="text/css" href="{f:uri.resource(path:'Css/global.css', extensionName: 'allinoneaccessibilitymonitor')}" media="all">
<link rel="stylesheet" type="text/css" href="{f:uri.resource(path:'Css/main.css', extensionName: 'allinoneaccessibilitymonitor')}" media="all">
<link rel="stylesheet" type="text/css" href="{f:uri.resource(path:'Css/adawidget.css', extensionName: 'allinoneaccessibilitymonitor')}" media="all">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="{f:uri.resource(path:'JavaScript/custom.js', extensionName: 'allinoneaccessibilitymonitor')}"></script>

<div class="typo3-fullDoc">
	<f:render section="content" />
</div>
</html>
